@model RecipeViewModel
@using PotluckPantry.Models.ViewModels
@{
    ViewData["Title"] = "Recipe";
}

<div class="card">
    <div class="card-header">
        <h2 style="display:inline;">@Model.Title</h2>
        @if (Model.IsUsersRecipe)
        {
            <section class="dropright" style="float:right;">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ...
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Recipe" asp-action="Update" asp-route-Id="@Model.Id">Update</a>
                    <a class="dropdown-item" asp-controller="Recipe" asp-action="Delete" asp-route-Id="@Model.Id">Delete</a>
                </div>
            </section>
        }
    </div>
    <div class="card-body">
        <!-- Ingredients Start -->
        <div>
            <h3>Ingredients</h3>
            <ul>
                @foreach (var ingredient in Model.RecipeIngredients)
                {
                    <li>
                        @ingredient.Ingredient.Name : @ingredient.Amount
                    </li>
                }
            </ul>
        </div>
        <!-- Ingredients End -->
        <!-- Decription Start-->
        <div>
            <h3>Steps</h3>
            <div>@Model.Description</div>
        </div>
        <br />
        <!-- Decription Start-->
        <!-- Buttons Start -->
        <div>
            Author: <a asp-controller="User" asp-action="Index" asp-route-username="@Model.User.UserName">@Model.User.UserName</a>
        </div>
        <br />
        <div>
            <a class="btn btn-primary" asp-controller="Review" asp-action="Index" asp-route-recipeId="@Model.Id">Review Recipe</a>
        </div>
        <!-- Buttons End -->
    </div>
</div>